<div class="search-list">
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
  placeholder="Start searching...">
<table class="table mat-table table-hover mat-elevation-z8">
  <tr>
      <th>Login</th>
      <th>Name</th>
      <th>Surename</th>
      <th>Email</th>
      <th></th>
  </tr>
  <tr class="tr-record" *ngFor="let worker of service.list | filter:searchText">
  <td>{{worker.Username}}</td>
  <td>{{worker.Name}}</td>
  <td>{{worker.Surname}}</td>
  <td>{{worker.Email}}</td>
  <td class="trash-position" (click)="onDelete(worker.Id)"><i class="fas fa-trash fa-lg"></i></td>
  </tr>
</table>
</div>
