<div class="search-list">
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
  placeholder="Start searching...">
<table class="table mat-table table-hover">
  <tr>
    <th>Name</th>
    <th>Number of Members</th>
    <th></th>
  </tr>
  <tr class="tr-record" *ngFor="let team of service.list | filter:searchText">
    <td>{{team.TeamName}}</td>
    <td></td>
    <td (click)="onDelete(team.Id)"><i class="fas fa-trash fa-lg"></i></td>
  </tr>
</table>
</div>
