<mat-toolbar>
    <button mat-fab [matMenuTriggerFor]="home"><i class="fas fa-bars"></i></button>
    <h3 class="title">Atomlist</h3>
</mat-toolbar>
<mat-menu #home="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="atoms"><i class="fas fa-atom"></i> Atoms</button>
    <button mat-menu-item [matMenuTriggerFor]="products"><i class="fab fa-product-hunt"></i> Products</button>
    <button mat-menu-item [matMenuTriggerFor]="teams"><i class="fas fa-users"></i> Teams</button>
    <button mat-menu-item [matMenuTriggerFor]="workers"><i class="far fa-user"></i> Workers</button>
    <a mat-menu-item class="nav-item nav-link" routerLink="/" ><i class="fas fa-home"></i> Back to Home</a>
</mat-menu>

<mat-menu #atoms="matMenu">
    <button mat-menu-item><i class="fas fa-plus-circle"></i> Create</button>
    <a mat-menu-item class="nav-item nav-link" routerLink="/atom-list"><i class="fas fa-search"></i> Search</a>
</mat-menu>

<mat-menu #products="matMenu">
    <button mat-menu-item><i class="fas fa-plus-circle"></i> Create</button>
    <a mat-menu-item class="nav-item nav-link" routerLink="/product-list"><i class="fas fa-search"></i> Search</a>
</mat-menu>

<mat-menu #teams="matMenu">
    <button mat-menu-item><i class="fas fa-plus-circle"></i> Create</button>
    <a mat-menu-item class="nav-item nav-link" routerLink="/team-list"><i class="fas fa-search"></i> Search</a>
</mat-menu>

<mat-menu #workers="matMenu">
    <button mat-menu-item><i class="fas fa-plus-circle"></i> Create</button>
    <a mat-menu-item class="nav-item nav-link" routerLink="/worker-list"><i class="fas fa-search"></i> Search</a>
</mat-menu>

<!-- main content container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
                <router-outlet></router-outlet>
        </div>
    </div>
</div>
