mat-toolbar {
    background-color: #8438AD;
}

.mat-fab {
    background-color: slategrey;
}

.mat-fab:hover{
    background-color: grey;
}

.jumbotron {
    background-color: whitesmoke;
    height: 100vh;
}

.title {
  padding-left: 10px;
  margin-right: auto;
  color: whitesmoke;
}
.row {
  justify-content: center;
}
