/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.fa-trash:hover {
  color: red;
}

.tr-record:hover {
  cursor: pointer;
  background-color: rgb(135, 133, 145);
}

table {
  width: 50vw !important;
}
